

nav{
  background-color: #f55a5a;
  height: 55px;
  display: flex;
  padding: auto;
  justify-content: center;
  align-items: center;
}
nav > img {
  
}
nav > h3 {
  
  padding-left: 7px;
  color: white;
  font-weight: 500;
  

  
}
